* {
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Inter', sans-serif;
}

h1,
h3,
a,
p{
 font-size: 0.64rem;   
}

.container{
    display: flex;
    flex-direction: column; 
    margin: auto;
    
    background-color: white;
    justify-content:space-between;
}

/* Header component */

header{
    display: flex;
    height: 55px;
    background-color: #F55A5A;
    color: #FFFFFF;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header--icon{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.header--title{
    font-size: 0.90rem;
    font-weight: 500;
}

/* Card component */
.card--element{
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    margin-left: 40px;
    overflow-y:scroll;
}

.card--container{
    margin-bottom: 36px;
    display: grid;
    width: 100%;
    grid-template: repeat(7, auto)/ 125px auto 1fr;
    grid-template-areas: 
    "picture . ."
    "picture . location"
    "picture . title"
    "picture . ."
    "picture . dates"
    "picture . description"
    "picture . .";
    grid-column-gap: 19px;
    
}

.card--image{
    grid-area: picture;
    border-radius: 6px;
    width: 125px;
    height: 168px;
}

.card--location{
    display: flex;
    grid-area: location; 
    align-items: center;
    margin: 0;
}

.card--location > img{
    width: 7px;
    height: 9px;
    margin-right: 3px;
}

.card--location > h3{
    margin-right: 10px;
    text-transform:uppercase;
}

.card--location > a{
    color: #918E9B;
}

.card--title{
  grid-area: title;  
  font-size: 1.56rem;
  margin: 0;
}

.card--dates{
    grid-area: dates;
    font-weight: bold;
}

.card--description{
    grid-area: description;
}

/* Footer component */

footer{
    display: flex;
    height: 24px;
    background-color: #F55A5A;
    color: #FFFFFF;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer--copyright{
    font-size: 1rem;
    font-weight:lighter;
    margin-right: 5px;
}

/* break point */

@media screen and (min-width: 1024px) {
    .container{
        max-width: 550px;
        height: 704px;
    }
}